# Android Studio
.idea/
.gradle/
local.properties
/.DS_Store
/build/

# User-specific files
*.log
*.sublime-workspace
*.sublime-project

# Android specific files
captures/
*.apk
*.ap_ 
*.dex
*.class
*.jar
*.keystore
*.db

# Gradle files
.gradle/
build/

# OS-specific files
Thumbs.db
ehthumbs.db
